/*police import: Agbalumo*/
/*
  Pour se retrouver dans le code CSS, on retrouvera: 
  -en premier les codes CSS pour les balise géneral d'HTML 
  -puis plus bas dans la page on retrouvera les balises class="" *
  -et finalement en bas de page les balises id="" 
*/

/*---------------------------------------- Balise HTML: -----------------------------------------------------*/
@import  "tabulator-tables";

html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(116, 100, 100);
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 2000px;
}

section {
    background-color: #8F9397;
    padding: 20px 50px 50px 50px;
    border-bottom: 1px solid white;
    color: whitesmoke;
}

footer{
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}



li {
    font-weight: bold;
    font-size: 24px;
    text-decoration: underline;
}

p{
    font-size: 20px;
    text-align: center;
}

strong {
    font-style: bold;
}


figcaption {
    font-size: 12px;
}


 img{
    padding: 10px;
 }

/*----------------------------------------- Balise Class: ----------------------------------------------------*/
.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(0, 0, 0);
    height: auto;
    color: #FFF;
    height: 30px;
    z-index: 2;
    text-align: center;
    display: inline-block;
    width: 100%;
    padding: 20px 0px 20px 0px;
}

.contenu-footer a,footer p a{
    padding: 10px;
    font-size: 18px;
    color: whitesmoke;
}

.page-title{
    width: 100%;
    text-align: center;
    margin-top: 0;
    font-size: 38px;
    font-style: italic;
    text-transform: capitalize;
    z-index: 4;
    margin-bottom: 0px;
}

.nav_bar {
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;
    margin: 0;
    border-bottom: 1px solid white;
}


.body_nav {
    text-decoration: none;
    color: white;
    padding: 5px;
}

.body_nav:hover {
    text-decoration: underline;
    color: rgb(53, 162, 199);
}


.resumé {
    text-align: center;
    font-family: Georgia, serif;

}

.container {
    display: flex;
}
.ligues{
    color: #012F6B;
    text-decoration: none;
}
.ligues:hover{
    text-decoration: underline;
    color: black;
}

.bloc {
    background-color: #8F9397;
    padding: 20px 50px 50px 50px;
    border-bottom: 1px solid white;
    color: whitesmoke;
}

.sous_part{
    text-align: left;
    padding: 10px;
    text-decoration: underline;
    font-weight: bold;
}

.src{
    font-size: 100%;
    word-break: break-word;
}


/*------------------------------------------- Balise ID: ------------------------------------------------------*/
#titre_liste{
    color: rgb(16, 100, 72);
    text-decoration: underline;
}

#voir_plus{
    color: whitesmoke;
    text-decoration: none;
}

#voir_plus:hover{
    text-decoration: underline;
    color: black;
}

#Serbe {
    line-height: 2em;
    text-align: justify;
}

#titre {
    color: #563E69;
    text-align: center;
    font-family: Stencil Std, fantasy;
    letter-spacing: 0.05em;
    text-decoration: underline;
}

#regle{
    list-style-position: inside;
    text-align: center;
}

#evo_basket{
    list-style-position: inside;
    text-align: center;
}

/*Commentaire supplémentaire 

couleur:
    #99DD74 (vert citron)


*/